language: go

go:
  - 1.15.x

os:
  - linux
  - windows

env:
  global:
    - GOFLAGS="-mod=readonly"
    
go_import_path: github.com/Oppodelldog/droxy

script:
  - go test -race -covermode=atomic  ./...